#body {
  height: 100%;
  padding: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Dongle;
}

* {
  color: #414147;
}

div {
  font-size: 30px;
}

html {
  background-color: #e6e6fa;
}
